@model denemee.Models.Sepet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sepet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Durum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YoneticiID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YoneticiID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
