@model denemee.Models.Urunler

@{
    ViewBag.Title = "Guncelle";
}

<h4>Guncelle</h4>


    @using (Html.BeginForm())
    {
             <div class="form-group">
                <h4>Urün Adı</h4>
                <div class="col-md-6">
                    @Html.TextBoxFor(a => a.UrunName)
                </div>
            </div>
            <br />

            <div class="form-group">
                <h4>Urün Fiyatı</h4>
                <div class="col-md-6">
                    @Html.TextBoxFor(a => a.UrunFiyat)
                </div>
            </div>

            <br />
            <div class="form-group">
                <h4>Urün Resmi</h4>
                <div class="col-md-6">
                    <input type="file" name="urunresim" />
                </div>
            </div>
            <br />

            <div class="form-group">
                <h4>Urün Açıklama</h4>
                <div class="col-md-6">
                    @Html.TextBoxFor(a => a.UrunAciklama)
                </div>
            </div>
            @Html.HiddenFor(a => a.UrunID);
            <br />

            <div class="form-group">
                <h4>Urün Kategori</h4>
                <div class="col-md-6">
                    <select name="UrunKategoriID">
                        @{
        BaglantiBilgileri b = new BaglantiBilgileri();

        System.Data.SqlClient.SqlCommand com = new System.Data.SqlClient.SqlCommand("select KategoriID, Kname from Kategori", b.Baglanti);

        if (com.Connection.State == System.Data.ConnectionState.Closed)
        {
            com.Connection.Open();
        }

        System.Data.SqlClient.SqlDataReader dr = com.ExecuteReader();

        if (dr.HasRows)
        {

            while (dr.Read())
            {
                <option value="@dr[0]">@dr[1].ToString()</option>

            }
        }
        else
        {

        }

        dr.Close();
        com.Connection.Close();

                        }
                    </select>
                </div>
            </div>
       
        <input type="submit" value="Güncelle" />
    }
